# Helper file to handle all configs

[coverage:run]
# .coveragerc to control coverage.py and pytest-cov
omit =
    # Omit the tests
    offpele/tests/*
    # Omit generated versioneer
    offpele/_version.py

[yapf]
# YAPF, in .style.yapf files this shows up as "[style]" header
COLUMN_LIMIT = 119
INDENT_WIDTH = 4
USE_TABS = False

[flake8]
# Flake8, PyFlakes, etc
max-line-length = 119

[versioneer]
# Automatic version numbering scheme
VCS = git
style = pep440
versionfile_source = offpele/_version.py
versionfile_build = offpele/_version.py
tag_prefix = ''
# TODO: parentdir_prefix is left empty in the cookiecutter setup.cfg.
parentdir_prefix = offpele-
